header {
    height: 220px;
    background: linear-gradient(180deg, #99582A 0%, #432818 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.nomeEmpresa-logo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nomeEmpresa-logo-container img{
    width: 235px;
    margin-top: -45px;
}
.nomeEmpresa-logo-container h1{
    margin-top: -45px;
    font-size: 24px;
}
.nomeEmpresa-logo-container p{
    font-size: 14px;
    font-weight: 300;
}